<div class="row">
  <div class="col-sm-12">
    <div class="general-wrapper">
      <h3>Overview</h3>
      <nvd3 options="options" data="data"></nvd3>
      <h3>
        Accounts
        <button class="btn pull-right"
                ng-init="addAccountToggle = false"
                ng-class="{true:'btn-danger', false:'btn-success'}[addAccountToggle]"
                ng-click="addAccountToggle = !addAccountToggle">
          {{addAccountToggle ? 'Cancel' : 'Add Account'}}
        </button>
      </h3>

      <div class="template" ng-show="addAccountToggle">
        <form class="form-inline">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Account Name"
                   ng-model="newAccount.name" />
          </div>
          <div class="form-group">
            <input type="number"
                   class="form-control"
                   placeholder="Starting Balance"
                   ng-model="newAccount.balance" />
          </div>
          <div class="form-group">
            <input type="number"
                   class="form-control"
                   placeholder="APR"
                   ng-model="newAccount.apr" />
          </div>
          <div class="form-group">
            <input type="number"
                   class="form-control"
                   placeholder="Minimum Payment"
                   ng-model="newAccount.minPayment" />
          </div>
          <div class="form-group">
            <button class="btn btn-success"
                    ng-click="saveNewAccount()">
              Save
            </button>
          </div>
        </form>
      </div>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>APR</th>
          <th>Min Payment</th>
          <th>Monthly Payment</th>
          <th></th>
        </tr>
        <tr ng-repeat="account in accounts">
          <td>{{account.name}}</td>
          <td>{{account.balance | currency}}</td>
          <td>{{account.apr * 100 | number :2}}%</td>
          <td>{{account.minPayment | currency}}</td>
          <td>
            <!--<form class="form-inline">-->
              <!--<div class="form-group">-->
                <!--<input type="number"-->
                       <!--class="form-control"-->
                       <!--ng-model="account.payment" />-->
                <!--<button class="btn btn-warning"-->
                        <!--ng-click="updateAccount(account, $index)">-->
                  <!--<i class="glyphicon glyphicon-edit"></i>-->
                <!--</button>-->
              <!--</div>-->
            <!--</form>-->
            <rzslider rz-slider-model="account.payment"
                      rz-slider-ceil="account.balance"
                      rz-slider-floor="account.minPayment"></rzslider>
          </td>
          <td>
            <button class="btn btn-danger"
                    ng-click="removeAccount(account)">
              <i class="glyphicon glyphicon-remove"></i> Remove
            </button>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
